## Main
__pycache__

## Keys
api_keys.py
huobi_sdk/privateconfig.py

# CSVs
data/

## ---- Huobi SDK files ----
### Venv ###
huobi_sdk/venv/

### Build File ###
huobi_sdk/.idea/
huobi_sdk/build/
huobi_sdk/dist/
huobi_sdk/huobi_client.egg-info/

### Python ###
huobi_sdk/__pycache__
huobi_sdk/*.pyc
huobi_sdk/huobi/privateconfig.py
huobi_sdk/privateconfig.py

### Pycache files ###
huobi_sdk/huobi/__pycache__

### Other ###
huobi_sdk/.DS_Store