## Main
__pycache__
api_keys.py


## ---- Huobi SDK files ----
### Venv ###
huobi_sdk/venv/

### Build File ###
huobi_sdk/.idea/
huobi_sdk/build/
huobi_sdk/dist/
huobi_sdk/huobi_client.egg-info/

### Python ###
huobi_sdk/__pycache__
huobi_sdk/*.pyc
huobi_sdk/huobi/privateconfig.py
huobi_sdk/privateconfig.py

### Other ###
huobi_sdk/.DS_Store